{% load static %}

<link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/iconfonts/ionicons/dist/css/ionicons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'css/shared/style.css' %}">
<link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}">

<style>
    @import url("https://use.typekit.net/bza3vcv.css");

    * {
        font-family: "proxima-nova";

    }

    body {
        background-color: #1cf03f0c;
    }

    .sidebar,
    .main-panel {
        height: 20rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .bg-black {
        background-color: black;
    }

    .text-black {
        color: black;
    }

    .chat-container-user {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 13px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
    }

    .chat-container-friend {
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
    }

    .bg-green {
        background-color: #1cf040;
    }

    .text-green {
        color: #1cf040;
        font-weight: bold;
    }
</style>